.t-design{
  position: relative;
}
.t-shirt{
  display: inline-block;
  background-color: grey;
  position: absolute;
}
.t-offer{
  display: inline-block;
  background-color: black;
  color: white;
  height: 20px;
  width: 60px;
  position: absolute;
  top: 40px;
  left: 90px;  
}