.two{
background-color: rgb(236, 25, 25);
}
.clear{
    background-color: #fff;
}
.three{
    background-color: rgb(12, 172, 225);
}
.five{
        background-color: rgb(224, 160, 21);
}
.seven{
    background-color: rgb(40, 162, 166);
}
.ten{
    background-color: rgb(203, 225, 37);
}
