* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.js_img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
 
}
.cart_one {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  column-gap: 15px;
  @media (max-width: 690px) {
   display: flex;
   flex-direction: column;
   width: 70%;
   margin: 0 auto;
  }
}
.js_icon {
  width: 50px;
  /* border: 1px solid gray; */
  border-radius: 50px;
}
.cart_dis {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 25px;
}
.navbar_style {
  background-color: rgb(222, 224, 226);
  display: grid;
  grid-template-columns: 230px 1fr 250px;
  height: 70px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
.menu_icon {
  height: 30px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.youtube_icon {
  height: 40px;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.video_icon,
.dot_icon,
.noti_icon {
  height: 27px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.user_img {
  height: 40px;
  /* width: 50px; */
  border-radius: 23px;
}

.start_layer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.middle_layer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.middle_in_se {
  width: 80%;
  display: flex;
  align-items: center;
}
.search_input {
  width: 100%;
  height: 35px;
  font-size: 18px;
  opacity: 0.5;
  padding-left: 10px;
  outline: none;
  background-color: rgb(214, 214, 214);
  border: 2px solid rgb(206, 202, 202);
  border-radius: 5px;
}

.search_icon,
.mic_icon {
  height: 25px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.mic_icon {
  height: 23px;
  padding: 7px;
  border-radius: 20px;
  background-color: rgb(206, 202, 202);
  /* border: 2px solid rgb(206, 202, 202); */
}
.search_icon {
  margin: 5px 9px;
}
.search_div {
  border: 2px solid rgb(206, 202, 202);
  border-radius: 5px;
  height: 35px;
  width: 50px;
  margin-left: -1px;
}
.end_layer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
