.side_bar{
    background-color: aquamarine;
    position: fixed;
    top: 69px;
    bottom: 0;
    left:  0;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.side_bar_icon{
    font-size: 24px;
}
.side_bar_division{
    height: 81px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.side_bar_divisions{
    height: 80px;
    background-color: rgb(229, 155, 155);
}