.side_bar{
    background-color: rgb(222, 224, 226);
    position: fixed;
    top: 69px;
    bottom: 0;
    left:  0;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px;
} 
.side_bar_icon{
    font-size: 24px;
    opacity: 0.5;
}
.side_bar_division{
    height: 81px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.side_bar_text{
    margin-top: 9px;
    font-size: 12px;
}